*
{
	margin: 0;
	padding: 0;
}

html
{
	background-image: -moz-linear-gradient(top, #c40000 0%, black 50%, #c40000 100%);
	background-image: -webkit-linear-gradient(top, #c40000 0%, black 50%, #c40000 100%);	
	background-image: -o-linear-gradient(top, #c40000 0%, black 50%, #c40000 100%);
	background-image: linear-	gradient(top, #c40000 0%, black 50%, #c40000 100%);	
	width: 100%;
	height: 100%;
}
body 
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 87.5%;
	width: 80%;
	background-color:#D8D8D8;
	margin: 12px auto;
	padding: 10px 5px;
	border: 1px solid black;
	-moz-border-radius: 25px;
	border-radius: 10px;
	-webkit-box-shadow: 5px 5px 12px 0;
	-moz-box-shadow: 5px 5px 12px 0;
	box-shadow: 5px 5px 12px 0;
}

header{ margin: 0 auto; text-align: center; color: black; border: 2px solid red; border-top-width: 0px;border-left-width: 0px;border-right-width: 0px;}   

section{overflow-y: scroll; height: 500px; float:center; width: 78.8%; padding: 5px; border: 2px solid black; margin: 0 auto;}

footer{ text-align: center; clear: both; border-top: 2px solid red;}

h1{ text-align: center;}

section p {text-align: justify}

#banner 
{
	width: 80%;
	position: relative;
	margin: 0 auto; 
	padding-top: 5px; 
	margin-bottom: 5px;
}

nav
{
	width: 80%;
	position: relative;
	float:top;
	margin: 0 auto; 
	padding-top: 5px; 
}

.navbar	
{
	width: 100%;
	height: 50px;
	padding: 0;
	margin: 0;
	position: left;
	float: left;
}
	
	
.navbar li 
{
	height: auto; 
	width: 33.3%;
	float: left;
	text-align: center; 
	list-style: none; 
	font: normal bold 12px/1.2em Arial, Verdana, Helvetica;  
	padding: 0;
	margin: 0;
	background-color: #b20000;
}


	
.navbar a
{
	padding: 18px 0;
	border-right: 1px solid #2C3539;
	text-decoration: none;
	color: white;
	display: block;
}
		 
		
.navbar li:hover, a:hover 
{
	background-color: #8b0000;
} 

.navbar li ul 	
{
	display: none;
	height: auto;
	margin: 0; 
	padding: 0;
}	
		 
.navbar li:hover ul 	
{
	display: block;
} 

.navbar li ul li 
{
	background-color: #b20000;
	width: 100%;
} 
 
.navbar li ul li a 
{
	border-right: 1px solid #2C3539;
	border-top: 1px solid #2C3539; 
	border-bottom: 1px solid #2C3539;
	border-left: 1px solid #2C3539;
}

.navbar li ul li a:hover	
{
	/*background-color: black;
	font-family:bold;*/
	box-shadow:	1px 1px black,
                2px 2px black,
                3px 3px black;
	-webkit-transform: translateX(-3px);
    transform: translateX(-3px);
		
}

hr
{
	color: black;
	width:80%;
	margin: 0 auto;
}

.movies
{
/*	border-collapse:collapse;*/
	font-size:1.2em;
	color:#000000;
	margin-top:1%;
	margin-left: auto;
	margin-right: auto;
	border-radius: 10px 10px 0px 0px;
	background-color: #A9A9A9;
	padding: 5px;
}

#poster
{
	border: 4px solid #ddd;
	width : 180px;
	height: 230px;
	border-radius: 5px 0px 0px 0px;
}	

#title
{
	font-family: Georgia, serif;
	font-weight:bold;
	font-size:1.2em;
	height: 30px;
	color:#323232;
}

#details
{
	font-family: Georgia, serif;
	font-size:0.9em;
	color:#323232;
}

#director
{
	padding-top: 10px;
	font-family: Georgia, serif;
	font-size:0.9em;
	color:#323232;
}

#actors
{
	padding-top: 10px;
	font-family: Georgia, serif;
	font-size:0.9em;
	color:#323232;
}

#synopsis
{
	padding-top: 20px;
	font-family: Georgia, serif;
	font-size:0.9em;	
	color:#323232;
}

#plot
{
	font-family: Georgia, serif;
	font-size:0.9em;
	color:#323232;
	line-height: 1.6;
}

#movie_link
{
	text-decoration:none;
}

.booking_details
{
	font-family: Georgia, serif;
	font-style: oblique;
	font-size:1.2em;
	color:#000000;
	width: 100%;
	border-radius: 0px 0px 10px 10px;
	background-color: #A9A9A9;
	padding: 5px;
}

.details_form
{
	font-size:0.9em;	
	font-family: Georgia, serif;
	font-style: oblique;
}

.radio
{
	padding-top:5px;
	padding-bottom:5px;
}

select
{
	margin-top: 8px;
	margin-bottom: 8px;
}

#ticket_field
{
	border: 2px double #ffffff;
	height: 106px;
	border-radius: 0px 0px 0px 10px;
}

#viewing_field
{
	border: 2px double #ffffff;
	height: 106px;
	margin-left: 10px;
}

#time_field
{
	border: 2px double #ffffff;
	height: 106px;
	margin-left: 10px;
	width: 80%;
}

#reserve_button 
{
  background: #0e0e0f;
  background-image: -webkit-linear-gradient(top, #0e0e0f, #b82b32);
  background-image: -moz-linear-gradient(top, #0e0e0f, #b82b32);
  background-image: -ms-linear-gradient(top, #0e0e0f, #b82b32);
  background-image: -o-linear-gradient(top, #0e0e0f, #b82b32);
  background-image: linear-gradient(to bottom, #0e0e0f, #b82b32);
  -webkit-border-radius: 18;
  -moz-border-radius: 14;
  border-radius: 18px;
  text-shadow: 1px 1px 3px #666666;
  -webkit-box-shadow: 0px 1px 3px #666666;
  -moz-box-shadow: 0px 1px 3px #666666;
  box-shadow: 0px 1px 3px #666666;
  font-family: Arial;
  color: #f05761;
  font-size: 16px;
  padding: 10px 20px 10px 20px;
  border: solid #0e0f0f 3px;
  text-decoration: none;
}

#reserve_button:hover {
  background: #ffffff;
  text-decoration: none;
}


#hide
{
	visibility:hidden;
}
