body
{
    background-image: url("../images/wallpaper.jpg");
	background-size: 100% 100%;
    background-repeat: no-repeat;
	background-attachment: fixed;
}

#pay_form
{
	border:solid gray 1px;
	width: 30%;
	border-radius: 5px;
	margin: 150px auto;
	background: #e5e5e5	;
	padding: 0 45px 45px 10px;
}

#btn
{
	color: #fff;
	background: red;
	padding: 5px;
	float:left;
}

h1
{
	font-size: 1.4em;
}

h2
{
	font-size: 1.1em;
}

input
{
	height: 25px;
	width: 45%;
	border-radius: 3px;
	line-height: 1.5em;
}
select
{
	height: 25px;
	width: 15%;
}

.label 
{
	display: block;
	min-width: 200px;
}