*
{
	margin: 0;
	padding: 0;
}

html
{
	background-image: -moz-linear-gradient(top, #c40000 0%, black 50%, #c40000 100%);
	background-image: -webkit-linear-gradient(top, #c40000 0%, black 50%, #c40000 100%);	
	background-image: -o-linear-gradient(top, #c40000 0%, black 50%, #c40000 100%);
	background-image: linear-	gradient(top, #c40000 0%, black 50%, #c40000 100%);	
	width: 100%;
	height: 100%;
}
body 
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 87.5%;
	width: 80%;
	background-color:#D8D8D8;
	margin: 12px auto;
	padding: 10px 5px;
	border: 1px solid black;
	-moz-border-radius: 25px;
	border-radius: 10px;
	-webkit-box-shadow: 5px 5px 12px 0;
	-moz-box-shadow: 5px 5px 12px 0;
	box-shadow: 5px 5px 12px 0;
}

header{ margin: 0 auto; text-align: center; color: black; border: 2px solid red; border-top-width: 0px;border-left-width: 0px;border-right-width: 0px;}   

section{overflow-y: scroll; height: 500px; float:center; width: 78.8%; padding: 5px; border: 2px solid black; margin: 0 auto;}

footer{ text-align: center; clear: both; border-top: 2px solid red;}

h1{ text-align: center;}

section p {text-align: justify}

#banner 
{
	width: 80%;
	position: relative;
	margin: 0 auto; 
	padding-top: 5px; 
	margin-bottom: 5px;
}

nav
{
	width: 80%;
	position: relative;
	float:top;
	margin: 0 auto; 
	padding-top: 5px; 
}

.navbar	
{
	width: 100%;
	height: 50px;
	padding: 0;
	margin: 0;
	position: left;
	float: left;
}
	
	
.navbar li 
{
	height: auto; 
	width: 33.3%;
	float: left;
	text-align: center; 
	list-style: none; 
	font: normal bold 12px/1.2em Arial, Verdana, Helvetica;  
	padding: 0;
	margin: 0;
	background-color: #b20000;
}


	
.navbar a
{
	padding: 18px 0;
	border-right: 1px solid #2C3539;
	text-decoration: none;
	color: white;
	display: block;
}
		 
		
.navbar li:hover, a:hover 
{
	background-color: #8b0000;
} 

.navbar li ul 	
{
	display: none;
	height: auto;
	margin: 0; 
	padding: 0;
}	
		 
.navbar li:hover ul 	
{
	display: block;
} 

.navbar li ul li 
{
	background-color: #b20000;
	width: 100%;
} 
 
.navbar li ul li a 
{
	border-right: 1px solid #2C3539;
	border-top: 1px solid #2C3539; 
	border-bottom: 1px solid #2C3539;
	border-left: 1px solid #2C3539;
}

.navbar li ul li a:hover	
{
	/*background-color: black;
	font-family:bold;*/
	box-shadow:	1px 1px black,
                2px 2px black,
                3px 3px black;
	-webkit-transform: translateX(-3px);
    transform: translateX(-3px);
		
}

hr
{
	color: black;
	width:80%;
	margin: 0 auto;
}

select
{
	margin-top: 8px;
	margin-bottom: 8px;
}

#reservations
{
	margin-left: auto;
	margin-right: auto;
}
	
#list
{
	margin-bottom: 35px;
	margin-left: 10px;
	margin-right: 15px;
	text-align:left;
}
#list tr td
{
	padding: 5px;
	border-bottom:1px solid black;
	
}
